
body{
  transition: 1s;
  animation-name: aparicion;
  -moz-animation-name: aparicion;
  -webkit-animation-name: aparicion;
  animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-direction: alternate;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  
}

img{
  animation-name: aparicion;
  -moz-animation-name: aparicion;
  -webkit-animation-name: aparicion;
  animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-direction: alternate;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
}

@keyframes aparicion{
  from{
    filter: blur(1000px);
    filter: grayscale(100%);
    filter: opacity(0%);
  }
  to{
    filter: blur(0px);
    filter: grayscale(0%);
    filter: opacity(100%);
  }
}

@-moz-keyframes aparicion{
  from{
    filter: blur(1000px);
    filter: grayscale(100%);
    filter: opacity(0%);
  }
  to{
    filter: blur(0px);
    filter: grayscale(0%);
    filter: opacity(100%);
  }
}

@-webkit-keyframes aparicion{
  from{
    filter: blur(1000px);
    filter: grayscale(100%);
    filter: opacity(0%);
  }
  to{
    filter: blur(0px);
    filter: grayscale(0%);
    filter: opacity(100%);
  }
}

header {
  padding: 154px 0 100px; /* 154px 0 100px*/
}


@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
  .fondo{
    background-size: 50%;
  }
}

section {
  padding: 80px 0; /*150px 0*/
}

.line{
  border-right: 1px solid rgb(226, 226, 226);
}

.ir_arriba{
  display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.aliados{
  max-height: 70px;
  width: auto;
  margin: 5px;
  float: left;
  
}