
header {
  padding: 154px 0 100px; /* 154px 0 100px*/
}


@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
  .fondo{
    background-size: 50%;
  }
}

section {
  transition: 3s;
  padding: 100px 0; /*150px 0*/
}

/*
#about{
  border-bottom: 2px solid #ff9400;
}
*/

footer{
  border-top: 1px solid #cecece;
}